[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
lxml = "==4.8.0"
loguru = "*"
python-docx = "*"

[dev-packages]
black = "*"
mypy = "*"

[requires]
python_version = "3.7"
